<style>
html{
overflow-y: auto;
}
</style>

    <section class="hero is-fullheight is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-4 is-offset-4">
              <div class="image is-64x64">
                <a href="/"><img src="/images/logo_inverted.png" alt="Home"></a>
              </div>
              <h1 class="title">
              Reset Password
              </h1>
              <div class="box">
                <form action="/user" method="post">
                <label class="label">Email</label>
                <p class="control">
                  <input class="input" type="text" name="email" placeholder="john.doe@example.org">
                </p>
                <hr>
                <label class="label">Password</label>
                <p class="control">
                  <input class="input" type="password" name="password" placeholder="●●●●●●●">
                </p>
                <label class="label">Confirm Password</label>
                <p class="control">
                  <input class="input" type="password" placeholder="●●●●●●●">
                </p>
                <hr>
                <p class="control">
                  <input type="submit" class="button is-primary" value="Reset Password">
                </p>
                </form>
              </div>
              <p class="has-text-centered">
                <a href="/auth/login" class="button is-link">Already have an account? Login</a>
                <a href="/gettingstarted" class="button is-link">Need help</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
