<% if (title) { 
  title += ' | ITPortal, UoP';
} else {
  title='Industrial Training Portal - University of Peradeniya';
} %>

<!-- Copyright 2017 Ishan Madhusanka

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
 
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=title%></title>

<% if (description) { %>
  <meta name="description" content="<%=description%>">
<% } else { %>
  <meta name="description" content="Industrial Training Portal is an initiative of Department of Computer Engineering, University of Peradeniya, Sri Lanka, to breath life into web applications using Machine Learning and Artificial Intelligence.">
<% } %>
  <meta name="keywords" content="Industrial, Portal, Training, Technology, Computer Engineering, Interns, Partners, Organizations, Human Resources, New Learners, Tech savvy, Hardware, Software, Embedded Systems, Networking, Engineers">
  <meta name="author" content="Department of Computer Engineering">

  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/manifest.json">
  <meta property="fb:app_id"             content="219597328470660" />
  <meta property="og:url"                content="http://mystay.lk/listing" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Industrial Training Portal | University of Peradeniya" />
  <meta property="og:description"        content="Industrial Training Portal is an initiative of Department of Computer Engineering, University of Peradeniya, Sri Lanka, to breath life into web applications using Machine Learning and Artificial Intelligence." />
  <meta property="og:image"              content="http://itportal.ce.pdn.ac.lk/icons/promo.png" />
  <meta property="og:image"              content="http://itportal.ce.pdn.ac.lk/icons/mystay-logo.png" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  <link rel="icon" type="image/png" href="/icons/favicon.png">

</head>
<body>
