<% include ../partials/header.ejs %>
<% include ../partials/topNavigation.ejs %>

    <div class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="image is-128x128">
            <img src="/images/logo.png" alt="">
            
          </div>
          <h1 class="title">Register Organization</h1>
          
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="columns">
        <div class="column">
        
          <section class="section">
              <h1 class="title">Profile</h1>
              <div class="field is-horizontal">
                <div class="box content">
                  <h1 class="title is-4">Personal Information</h1>
                  <label class="label">Organization Name <input class="input" type="text" placeholder="Organization Name"></label>
                  <label class="label">Address <input class="input" type="text" placeholder="Address"></label>
                  <label class="label">Phone Number <input class="input" type="text" placeholder="Phone Number"></label>
                  <label class="label">Email <input class="input" type="email" placeholder="Email"></label>
                  <label class="label">Facebook Link <input class="input" type="text" placeholder="Facebook Link"></label>
                  <label class="label">LinkedIn Link <input class="input" type="text" placeholder="LinkedIn Link"></label>
                  <label class="label">GitHub Link <input class="input" type="text" placeholder="GitHub Link"></label>
                  <label class="label">Web Page Link <input class="input" type="text" placeholder="Web Page Link"></label>
                  <label class="label">Interns Needed<input class="input" type="number" placeholder="Interns Needed"></label>
                  <label class="label">Password<input class="input" type="password" placeholder="●●●●●●●●"></label>
                  <label class="label">Confirm Password<input class="input" type="password" placeholder="●●●●●●●●"></label>
                </div>
              </div>
          </section>
          
          
          
          
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
