<% include ../partials/header.ejs %>
<% include ../partials/topNavigation.ejs %>

    <div class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="image is-128x128">
            <img src="/images/logo.png" alt="">
            
          </div>
          <h1 class="title"><%= userInformation.user.firstName +' '+ userInformation.user.lastName %></h1>
          <h2 class="subtitle">Student Dashboard</h2>
          
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="columns">
        <% include ./sidebar/sidebar_student.ejs %>
        <div class="column">
        
          <section class="section">
              <h1 class="title">Profile</h1>
              <div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">From</label>
  </div>
  <div class="field-body">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input" type="text" placeholder="Name">
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded has-icon has-icon-right">
        <input class="input is-success" type="email" placeholder="Email" value="alex@smith.com">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
      </p>
      <p class="help is-success">This email is correct</p>
    </div>
  </div>
</div>  
              <div class="box content">
                <h1 class="title is-4">Personal Information</h1>
                <label class="label">First Name <input class="input" type="text" placeholder="First Name"></label>
                <label class="label">Last Name <input class="input" type="text" placeholder="Last Name"></label>
                <label class="label">Email <input class="input" type="email" placeholder="Email"></label>
                <button class="button">Change Password</button>
                <label class="label">Birthday <input class="input" type="date" placeholder="BirthDay"></label>
                <label class="label">Birth Year <input class="input" type="number" placeholder="Birth Year"></label>
                <label class="label">Birth Year <input class="input" type="number" placeholder="Birth Year"></label>

                

               <h1 class="title is-4">Academic Information</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
              </div>
          </section>
          <section class="section">
              <h1 class="title">Technical Background</h1>
              <div class="box content">
                <h1 class="title is-4">My Projects</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
                <h1 class="title is-4">My Interests</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
              </div>
          </section>
          <section class="section">
              <h1 class="title">Awards and Recognitions</h1>
              <div class="box content">
                <h1 class="title is-4">Competitions</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
                <h1 class="title is-4">Awards</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
              </div>
          </section>
          <section class="section">
              <h1 class="title">Extra Curricular</h1>
              <div class="box content">
                <h1 class="title is-4">Clubs and Societies</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
                <h1 class="title is-4">Sports</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
              </div>
          </section>
          <section class="section">
              <h1 class="title">My Activity</h1>
              <div class="box content">
                <h1 class="title is-4">Interviews</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit.</p>
              </div>
          </section>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
