<% include ../partials/header.ejs %>
<% include ../partials/topNavigation.ejs %>
<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="image is-128x128">
        <img src="/images/logo.png" alt="">
        
      </div>
      <h1 class="title"><%= userInformation.user.firstName +' '+ userInformation.user.lastName %></h1>
      <h2 class="subtitle">Student Dashboard</h2>
      
    </div>
  </div>
</div>
<div class="container" id="student_app">
  <div class="columns">
    <% include ./sidebar/sidebar_student.ejs %>
    <div class="column">
      
      
        <% include ./sections/profile.ejs %>
        <% include ./sections/technical_background.ejs %>
        <% include ./sections/awards_and_recognitions.ejs %>
        <% include ./sections/extra_curricular.ejs %>
        <% include ./sections/my_activity.ejs %>
        
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
<script>
  var userEmail = '<%= userInformation.user.email %>';
</script>
<script src="/js_scripts/students/dashboard.js"></script>