<% include ../partials/header.ejs %>
<% include ../partials/topNavigation.ejs %>
<div id="app">
  <div class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="image is-128x128">
          <img src="/images/logo.png" alt="">
          
        </div>
        <h1 class="title">Organizations</h1>
        <h2 class="subtitle">All Organizations</h2>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <h1 class="title">All Organizations</h1>
      <h2 class="subtitle">{{organizations.length}} Organizations in Total</h2>
    </div>
    <div class="columns is-multiline">
      <div class="column is-3" v-for="organization in organizations">
        <div class="box">
          <p>{{organization.organizationName}}</p>
          <p>{{organization.organizationEmail}}</p>
        </div>
      </div>
    </div>
    <p></p>
  </div>
</div>
<% include ../partials/footer.ejs %>
<script src="/js_scripts/organizations/all.js"></script>