<transition name="slide-fade">
<section class="section" v-show="activeSection=='interviews'">
  <h1 class="title">My Activity</h1>
  <div class="box content">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 level-item">Interviews</h1>
      </div>
      <div class="level-right">
        <button class="level-item button">+</button>
      </div>
    </div>
    <div class="box">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="level-left">
              <h1 class="title is-4 level-item">Interview with Company</h1>
            </div>
          </div>
        </div>
        <div class="level-right">
          <button class="level-item button">Edit Sport Details</button>
        </div>
      </div>
      <p>Sport Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rerum consectetur, aspernatur dolore optio, dolor mollitia temporibus ad repellat perspiciatis obcaecati eaque qui similique nemo voluptas repellendus. Ex, magni. Id.</p>
      <hr>
      <p>Role: <i>Backend Developer</i></p>
    </div>
  </div>
</section>
</transition>
