<div class="column is-3 is-hidden-touch">
  
  <div class="section">
    <aside class="menu">
      <p class="menu-label">
        Profile
      </p>
      <ul class="menu-list">
        <li><a>Personal Informtion</a></li>
        <li><a>Signing in</a></li>
      </ul>
      <p class="menu-label">
        Academics
      </p>
      <ul class="menu-list">
        <li><a>Creating a new listing</a></li>
        <li>
          <a class="is-active">Keep your listing on top</a>
          <ul>
            <li><a>Updated date</a></li>
            <li><a>Filtered results</a></li>
          </ul>
        </li>
      </ul>
    </aside>
  </div>
</div>