<div class="column is-3 is-hidden-touch">
  
  <div class="section">
    <aside class="menu">
      <p class="menu-label">
        Profile
      </p>
      <ul class="menu-list">
        <li><a>Personal Informtion</a></li>
        <li><a>Academic Information</a></li>
      </ul>
      <p class="menu-label">
        Technical Background
      </p>
      <ul class="menu-list">
        <li><a>My Projects</a></li>
        <li><a>My Interests</a></li>
      </ul>
      <p class="menu-label">
        Awards and Recognitions
      </p>
      <ul class="menu-list">
        <li><a>Competitions</a></li>
        <li><a>Awards</a></li>
      </ul>
      <p class="menu-label">
        Extra Curricular
      </p>
      <ul class="menu-list">
        <li><a>Clubs and Societies</a></li>
        <li><a>Sports</a></li>
      </ul>
      <p class="menu-label">
        My Activity
      </p>
      <ul class="menu-list">
        <li><a>Interviews</a></li>
      </ul>
    </aside>
  </div>
</div>