<% include ../partials/header.ejs %>
<% include ../partials/topNavigation.ejs %>

    <div class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="image is-128x128">
            <img src="/images/logo.png" alt="">
            
          </div>
          <h1 class="title">Getting Started</h1>
          <h2 class="subtitle">Industrial Training Portal is quite easy to catch on. Read along.</h2>
          
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="columns">
        <div class="column is-3 is-hidden-touch">
      
          <div class="section">
            <aside class="menu">
              <p class="menu-label">
                User Accounts
              </p>
              <ul class="menu-list">
                <li><a>Creating an Account</a></li>
                <li><a>Signing in</a></li>
              </ul>
              <p class="menu-label">
                Connections
              </p>
              <ul class="menu-list">
                <li><a>Creating new connections</a></li>
                <li>
                  <a class="is-active">Keep your connections on top</a>
                  <ul>
                    <li><a>Updated date</a></li>
                    <li><a>Filtered results</a></li>
                  </ul>
                </li>
              </ul>
            </aside>
          </div>
        </div>
        <div class="column">
          <section class="section">
            <div class="container">
              <div class="box content">
                <h1 class="title is-4">Creating an account</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                
              </div>
              
            </div>
          </section>
          <section class="section">
            <div class="container">
              <div class="box content">
                <h1 class="title is-4">Listing your own Space</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                <p>Lorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia tenetur, hic distinctio totam repellendus officia rerum, quam voluptatem esse magni, fuga nulla omnis beatae non iste, illo provident asperiores!ipsum dolor sit amet, consectetur adipisicing elit. Mollitia doloribus dolore pariatur, expedita deleniti itaque cupiditate vitae. Magni rerum quasi, sapiente, deserunt facilis cum iste nihil cumque ipsa eum architecto.</p>
                
              </div>
              
            </div>
          </section>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
